[2015-04-20 11:01] miyconst opened #1 "Unable to shut down app"
When trying to shut down and app from `AppStoreClient` it loads forever. Page refresh required to get back to working state.

Administration log panel contains next entries:
[code]

[code]

[code]

To reproduce this you have to:
1. Start `AppStoreClient`.
2. Install an app.
3. Run the app.
4. Try to stop the app.

[2015-06-01 08:54] warpech opened #2 "Order the apps alphabetically"
Currently the order is from the oldest to the newest apps, which makes the App Store client hard to use.

[2015-06-01 12:23] warpech opened #3 "Replace Skyper image"
Replace [Skyper image](https://github.com/Polyjuice/AppStoreClient/blob/master/src/AppStoreClient/wwwroot/AppStoreClient/bg/Banner_Skyper.jpg) with a zoomed-in fragment of "S" logo.

Something similar to [GoogleSignIn app image](https://github.com/Polyjuice/AppStoreClient/blob/master/src/AppStoreClient/wwwroot/AppStoreClient/bg/Banner_GoogleSignIn.jpg)

The purpose is to unfocus the Skyper app fro

[2015-06-02 08:35] andwah commented on #2
The order is now based on the application display name.

[2015-06-08 13:05] miyconst commented on #3
I am not a good designer, that is why I would really appreciate any comments. Here are five images, which one is the best? Or maybe I am looking at a wrong direction?
`#1`
![skyper-1](https://cloud.githubusercontent.com/assets/6435556/8035286/e37a06f0-0df7-11e5-8744-d150eb11bd97.png)

`#2`
![skyper-2](https://cloud.githubusercontent.com/assets/6435556/8035287/e5d41030-0df7-11e5-8472-2f5f18b779fd.p

[2015-06-08 13:33] warpech commented on #3
I would take #3 or #5, whichever you like more

[2015-06-08 14:39] miyconst commented on #3
Done, took the #3.

[2015-06-08 14:39] #3 closed

[2015-06-09 10:40] warpech opened #4 ""newadmin" branch only works on localhost"
I get to my Starcounter installation from a remote machine, with a URL `http://10.211.55.4:8080/appstoreclient`

Puppet connection to Administrator is refused with the following error:

[2015-06-10 08:31] andwah commented on #4
I fixed the header ```Access-Control-Allow-Origin``` on the request.

[2015-06-10 08:31] #4 closed

[2015-06-15 07:27] miyconst commented on #1
Ping @andwah.

[2015-06-15 09:10] andwah commented on #1
@miyconst I could not recreate it in my environment, i will try again with the latest version.

[2015-06-15 10:56] miyconst commented on #1
Then I close it, because with the new Administrator I can't reproduce it either.

[2015-06-15 10:56] #1 closed

[2015-06-23 10:00] warpech opened #5 "Merge newadmin to master"
`master` branch does not build anymore. @miyconst could you check if the `newadmin` branch works ok, merge it to master & release a version?

[2015-06-23 11:39] miyconst commented on #5
Done. https://github.com/Polyjuice/AppStoreClient/releases/tag/2.0.0-pre11

[2015-06-23 11:39] #5 closed

[2015-06-23 14:04] warpech commented on #2
The order seems to be wrong again. @miyconst could you take a look?

[2015-06-23 14:41] miyconst commented on #2
I see that @andwah has made the sorting and then removed it in https://github.com/Polyjuice/AppStoreClient/commit/3d7e81f9f3aeac5834b6fc6a09bd9274b5f4bb9e with comments:

I think that this should be resolved on server side level, in this class:
https://github.com/Starcounter/Starcounter/blob/c331305981bc50b47eef07c86b895b0e93112de5/src/Starcounter.Administrator/Server/Managers/AppStoreManager.cs#L

[2015-06-23 15:24] alemoi commented on #2
@chrhol is it possible to sort the JSON list after its been populated? Or should the handler  "/appstore/apps" already return a sorted list? What do you think?

[2015-06-23 18:28] andwah commented on #2
@alemoi I think that the client should sort the list.
I had a sorting filter on the client before but it turned out that it was a bit buggy and i had to remove it.
I havent yet found a working sort filter.

[2015-06-24 07:11] miyconst commented on #2
@warpech, @alemoi, @andwah, we should all together agree on a solution, because me and @warpech agreed to make server side sorting.

[2015-06-24 11:19] warpech commented on #2
There are 2 problems with client-side sorting:

1) the client side should be logicless
2) sorting the array changes the array indexes

@miyconst can you think of a solution which would avoid problem #2? If so then we can accept client-side sorting as a temporary solution.

In the long term, server needs to support sorting and pagination, as well as app categories, searching, etc.

[2015-06-24 15:46] miyconst commented on #2
2. Sure, we can add a custom web-component which would accept original list of apps, then sort it and save to an internal variable, bind the html template to the variable.

It should work, I guess.

[2015-06-24 18:30] warpech commented on #2
Ok, please do so

[2015-06-25 10:28] miyconst commented on #2
Done. Added a new element `app-store-client-root`. Also added app version number to the right of the name, reduced `line-height` of the description to fit long descriptions. Now it looks like this:

![app-store](https://cloud.githubusercontent.com/assets/6435556/8352434/bc854048-1b3d-11e5-81ec-71e64c9aea46.png)

[2015-06-26 12:11] miyconst opened #6 "AppStoreClient does not work with new PuppetJs"
AppStoreClient extracts db name from `puppet.referer` which is no longer exists. This could be easily fixed by replacing `puppet.referer` with `puppet.remoteUrl`.

The other issue, which I am not sure how to solve is `X-Referer` header.

Before:
[code]

Now:
[code]

The `referer` value was set after connection established, but the `remoteUrl` value is set from initial parameters.

AppStoreClient c

[2015-06-26 12:19] #2 closed

[2015-06-26 14:44] warpech commented on #2
Thanks!

[2015-06-26 15:29] miyconst commented on #6
@warpech  and me agreed to:

1. Set `X-Referer` header only if the `url` of the outgoing request is not the same as header value.
2. Save `this.remoteUrl` as `URL` object, not a string.
3. Inside the `setRemoteUrl` function calculate `remoteUrl` as `new URL(remoteUrl, this.remoteUrl.href)`.
4. Set `X-Referer` header value like `this.remoteUrl.path`.

[2015-06-26 15:42] warpech commented on #6
On second thought, controlling this using a new boolean argument to the `xhr` method, as you proposed on Skype, also doesn't look that bad and is even clearer.

[2015-06-29 06:23] miyconst commented on #6
Okay, I will add the argument then.

I would like to take this issue after this https://github.com/PuppetJs/PuppetJs/issues/55 is merged,
could you or @tomalec check it please?

[2015-06-29 12:38] warpech commented on #6
Please merge https://github.com/PuppetJs/PuppetJs/issues/55 if it's stopping you

[2015-06-29 15:44] miyconst commented on #6
Another problem appears.

`http://localhost:8181/` refuses PuppetJs cross domain requests.

After recent changes PuppetJs doesn't wait till WebSocket connection opens, but sends requests over http.

AppStoreClient loads applications by
[code]

This causes an http request to

[code]

Which is refused.

The easiest way to solve it, is to load applications in timeout.

[2015-06-29 16:10] tomalec commented on #6
Could we use some kind of connectionEstablished event instead of timeout?

[2015-06-29 16:11] miyconst commented on #6
There is already an event `onSocketStateChanged`, so I can use it.

[2015-06-29 16:15] warpech commented on #6
I think solving it server side would be even better. Access-Control headers should be added to https://github.com/Starcounter/Starcounter/blob/6409aba96274e7059d56a0b2b07d754f2f40daa8/src/Starcounter.Administrator/Server/Managers/ServerManager.cs#L80

@alemoi could you do that?

[2015-06-29 16:16] tomalec commented on #6
:+1:
Probably, you will also need to make sure that it works for HTTP connections, and WS that opens pretty fast ;P

[2015-06-29 16:59] miyconst commented on #6
HTTP does not work for now, and WS connection which opens very fast works.

[2015-06-29 17:25] alemoi commented on #6
@warpech I can take a look, just describe what exactly should be done there, I didn't really get the idea.

[2015-06-29 17:44] warpech commented on #6
@miyconst will explain :)

[2015-06-30 07:46] miyconst commented on #6
@alemoi, cross domain javascript requests are blocked by default.

When a browser detects a corss domain javascript request it first sends `OPTIONS` request to the same url and expects a response with `Access-Control-Allow-Origin` header. If the value of the header allows requests from current host, then the normal `GET`/`POST` request being send.
http://enable-cors.org/server_aspnet.html

In our

[2015-06-30 22:51] alemoi commented on #6
Sorry for the late response. Should the suggested line be only added to handler: https://github.com/Starcounter/Starcounter/blob/6409aba96274e7059d56a0b2b07d754f2f40daa8/src/Starcounter.Administrator/Server/Managers/ServerManager.cs#L80
or somewhere else?

[2015-07-01 04:52] miyconst commented on #6
The AppStoreClient (and me) right now needs it only inside the handler.

You can also use the old syntax from the previous handlers:

[code]

[2015-07-01 22:05] alemoi commented on #6
Fixed via 3d0c9b5e8ff9cf6d9ba82dcde1af050fd01a563d

[2015-07-02 05:54] miyconst commented on #6
It seems like @alemoi has done what we asked for, but it still does not work.
Server responses with `404` to `OPTIONS` request.

The solution should be:
[code]

But `Starcounter.Handle` does not have `OPTIONS` method.

[2015-07-02 06:33] miyconst opened #7 "Sometimes stopping an app stops two or more apps"
From time to time, when I stop an app some other apps got stopped too.

I tried to reproduce the issue to find what causes this, but was not able to find a 100% sure configuration when stopping an app would also stop another one.

Most of the time this happens when those apps were started almost at the same time, but not always like this.

[2015-07-02 11:37] alemoi commented on #6
Handle.CUSTOM can be used, like this: `Handle.CUSTOM("OPTIONS /myuriwithparameters", ...);`
But I will add support for OPTIONS method now.

[2015-07-02 12:07] warpech commented on #6
This is so low level...

In ExpressJS and Meteor, CORS is enabled on any HTTP method by using a simple filter:

[code]

In Koa it is the same, but abstracted away as a module:

[code]

@miyconst could you check if we can achieve the same using `AddFilterToMiddleware`? I assume `AddFilterToMiddleware` runs for all HTTP methods.

[2015-07-02 14:30] miyconst commented on #6
Yes, the following filter adds header to every request:

[code]

But if the request was not handled, then no filters were applied, so, `Handle.OPTIONS` is still required.

I have tested `Handle.OPTIONS` and it works fine, but the url: `http://localhost:8181/api/servermodel/default/d5a9b1bf-4721-44cf-8f36-4844bf81f2c2/507B0DBDBB056D1C00000040` still returns `404`. I guess me and @alemoi  should sit

[2015-07-02 19:38] miyconst opened #8 "Failed to install package error message displays on all pages"
If open AppStoreClient in two pages (two browsers = two sessions) and then try to install already installed application, the error will appear in both pages, but should appear only in the one which tries to install the app.

![app-store-client-error](https://cloud.githubusercontent.com/assets/6435556/8486104/09dd1fdc-210b-11e5-9988-b00eb2e75360.png)

[2015-07-02 19:53] miyconst commented on #6
The issue is fixed now.

[2015-07-02 19:53] #6 closed

[2015-07-03 15:22] warpech commented on #6
:point_up_2:  I created a new issue about using filters to setup CORS.

[2015-07-24 10:49] miyconst commented on #7
Steps to reproduce:

1. Open a Visual Studio instance.
2. Open a project (for example Products) in the Visual Studio instance.
3. Run the project with `Ctrl + F5`.
4. Close the project.
5. Open another project (for example People) in the Visual Studio instance.
6. Run the project with `Ctrl + F5`.
7. Go to administration panel at `http://localhost:8181/`.
8. Stop the first project (Product).
9. Th

[2015-07-24 13:49] alemoi commented on #7
Hmm I'm curious how it worked before. I would say we should consult with Per who is not in the list of users for Polyjuice here though.

[2015-07-24 13:55] miyconst commented on #7
It is like this from the very beginning, and I thought it is a bug of AppStoreClient, but looks like it is not.

[2015-08-05 10:59] miyconst opened #9 "Page refresh is required after app start/stop"
After an app has been started/stopped application page refresh is required to see the changes.

Otherwise the page stacks in the previous no longer working condition.

Things to do:

- In AppStoreClient refresh page once app start/stop call back received.
- Check if application page (for example Products) keep working after some other app (for example Images) started.
- The ultimate goal is to aut

[2015-08-05 19:27] miyconst commented on #9
Now AppStoreClient refreshes itself once an app installed or uninstalled.

[2015-08-05 19:32] miyconst commented on #9
Starting a new app does not break existing sessions.

If I have Products app running and opened, and then start Images app, it not only won't break session, but also will inject Images part once I navigate to another product.

LaunchPad and Launcher menu require page refresh to display new applications.

[2015-08-05 19:42] miyconst commented on #9
Stopping application kills sessions.

If I stop an app and then try to operate on an already opened page then the following error appears:

[code]

[2015-08-06 10:11] warpech opened #10 "Display only stable Starcounter app store by default"
For Starcounter Playground, we want to cater a list of stable apps. Only the following apps will be available in the stable app store from day 1: Launcher, AppStoreClient, Images, Products, Procurement, Barcodes, People

The above apps should be uploaded to "Starcounter" app store, which is currently empty.

AppStoreClient should display only apps from "Starcounter" app store, unless configured di

[2015-08-06 13:22] miyconst commented on #10
Done.

Now only *Starcounter* store is shown by default. I have uploaded Launcher to Starcounter store to see at least an item.

Configuration GET requests:

Display all stores:
[code]

Display only polyjuice store:
[code]

Display polyjuice and smörgåsbord store:
[code]

Revert to default settings:
[code]

[2015-08-06 13:22] #10 closed

[2015-08-07 08:53] warpech opened #11 "Disable uninstalling of certain apps"
For Playground project, we need to disable uninstalling of the apps that are essential for the playground:

- Launcher
- AppStoreClient
- PlaygroundWelcome

I think that the correct way is to disable uninstalling apps that are marked as "Auto-Start" in the Administrator.

[2015-08-07 12:13] miyconst commented on #11
`Starcounter.Administrator` needs to expose this value.

Should be added to https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.Administrator/Server/Model/AppStoreApplicationJson.json as `IsAutoStart: true/false`.

Probably @andwah can do this on Monday.

[2015-08-10 08:29] warpech commented on #11
Just discussed with @andwah. He will consider the best solution (using autostart or create a new boolean setting to disable uninstalling of an app in AppStoreClient) and do the backend part in Administrator.

@andwah, when you're done with the Administrator, please reassign it to @miyconst so he can do the client part. We need this tomorrow.

[2015-08-11 08:45] warpech opened #12 "AppStoreClient does not work if Administrator is unavailable"
Currently, AppStoreClient JavaScript makes a client-server connection to Administrator port 8181. This is unsecure and not acceptable in the long term.

If Administrator is blocked behind a firewall, AppStoreClient does not work now. It should work anyway.

Long term solution: AppStoreClient should create a **server-side** (not client-side as now) connection between AppStoreClient and Administrato

[2015-08-11 10:24] andwah commented on #12
I changed the port number on the server side to 8182 (i exposes the needed api for the AppStoreClient), i also updated the portnumber on the client-side to 8182

[2015-08-11 10:49] warpech commented on #12
@miyconst can you test if it works? The installer is available in the build server.

I will expose port 8182 in playground machine.

[2015-08-11 11:01] andwah commented on #11
Each application that is auto-started is stored in a json file. (Application that is not auto-started is not in that file).
So i'm thinking that this is not the right place to keep the "CanBeUninstalled" flag.
Instead i suggest we store it in the application configuration file. Each "deployed" application has it's own configuration file that contains the name, description, version etc..)

[2015-08-11 11:51] miyconst commented on #11
That does not fair, what if we want to configure different persistent apps for different databases?

[2015-08-11 14:35] miyconst commented on #12
Yes, it works! I have updated the server and now all of the playgrounds work.

[2015-08-11 14:35] #12 closed

[2015-08-11 14:47] miyconst commented on #11
I just have discovered, that this already done.

We show only Starcounter store for the playgrounds, and the store does not contain Launcher, Welcome, AppStore, so the users won't be able to un-install any of those applications!

[2015-08-11 15:28] warpech commented on #11
AFAIK, the app configuration file is stored separately for every database.

Clever! This will be our last resort if we don't have app locking by the end of the week.

[2015-08-11 15:51] warpech commented on #12
![](https://lh3.googleusercontent.com/-MFoi4YLEjzQ/VIDikQYR7LI/AAAAAAAABrw/FTdQ-jv4LtI/s160-c-no/Callouts_Internet_Yay.png)

[2015-08-11 16:40] miyconst commented on #11
**A notice**: the app can be uninstalled only from the store which it was installed from. That means the same application in different stores is treated as two different apps, but they can't be started at the same time, because of the same name.

[2015-08-11 17:00] warpech opened #13 "Change cover images for apps"
As a visual style principle, we should have 3 distinguishable styles for app images in the app store:

1. Essentials
2. Developer Samples
3. Vendor

### 1. Essentials

<img width="218" alt="screenshot 2015-08-11 18 53 40" src="https://cloud.githubusercontent.com/assets/566463/9203938/66bfd168-405a-11e5-91bb-4c0cbc078cec.png">

This is a visual style for apps that we consider stable, single purpose

[2015-08-11 17:01] warpech opened #14 "Change app descriptions"
App descriptions should be more inviting

[2015-08-11 17:02] warpech opened #15 "Implement app categories"
It should be possible to categorize apps within an app store. The following categories should be created in the default app store for the start: Essentials, Developer Samples, Betas.

Related: #13

[2015-08-12 13:03] warpech opened #16 "Allow markdown in description"
Use https://github.com/Juicy/juicy-markdown to render markdown as HTML

[2015-08-12 13:23] warpech commented on #14
"Tested with Starcounter version ..." should be removed from Description to a separate node in the package config file.

Description can use markdown to format text. This will be used to put ontology names (people, products, addresses, etc) in bold.

[2015-08-12 14:57] warpech commented on #14
Also update the descriptions in GH repo information and README.md

[2015-08-12 15:46] miyconst commented on #16
Done.

`juicy-markdown` puts content inside a `p` which adds redundant margin, to remove that margin I applied negative values to the description container `margin: -10px 5px;`.

[2015-08-12 15:46] #16 closed

[2015-08-12 16:00] warpech commented on #14
Done.

[2015-08-12 16:00] #14 closed

[2015-08-12 16:14] warpech commented on #16
Why not just set margin of `<p>` to 0?

[2015-08-12 16:16] miyconst commented on #16
Because it will also remove margin between two `<p>`, and I don't want that.

[2015-08-12 18:35] warpech commented on #16
:+1:

[2015-08-13 08:28] warpech opened #17 "Implement poor man's categories"
Until #15 is done, we discussed implementing categories as separate app stores.

@andwah will create 2 new app stores "Essentials" and "Developer Samples"

@miyconst will make them visible by default in App Store Client

[2015-08-13 08:58] andwah commented on #15
I think the concept of "Tags"  should be used for categories (a bit like Labels here in Github).

[2015-08-13 10:56] warpech commented on #15
I agree that tags will be better.

[2015-08-13 11:15] andwah commented on #17
**Essentials** and **Developer Samples** stores created

[2015-08-13 11:24] andwah commented on #11
The application configuration file is per database.

[2015-08-13 11:25] andwah commented on #11
As far as the Administrator and the AppStoreClient this is done.

[2015-08-13 12:24] warpech commented on #11
Great, thanks! @miyconst will you test?

[2015-08-13 12:26] warpech commented on #17
Great!

From now on, Launcher, AppStoreClient, SignIn, GoogleSignIn should be put in **Essentials** app store.

Other apps should be put in **Developer Samples**.

@miyconst can you test that?

[2015-08-13 14:50] warpech opened #18 "Change app icons"

[2015-08-13 15:03] warpech opened #19 "Display required Starcounter version"
In `project.config` of all applications, I've added the version of Starcounter that is required by the app.

Previously this information was part of the description string, which was not very useful.

I propose to display it in the AppStoreClient using a Font Awesome icon, such as:

<img width="112" alt="screenshot 2015-08-13 17 00 58" src="https://cloud.githubusercontent.com/assets/566463/9253204

[2015-08-13 15:25] miyconst commented on #17
Checked.

Now AppStoreClient shows "Essentials" and "Developer Samples" stores by default.

- **Essentials** - Launcher, AppStoreClient
- **Developer Samples** - Barcodes, Images, People, Procurement, Products

The apps we are not going to demonstrate in the Playground are all in the polyjuice store.

[2015-08-13 15:25] #17 closed

[2015-08-13 15:44] miyconst commented on #19
Good idea. In the AppStoreClient we have free left bottom corner of each app, the icon could fit in there just fine.

The question is how to make sure, that the app is compatible with a newer Starcounter build?

I can remember lots of breaking changes in Starcounter. It would be really frustrating to see a green check icon with a non-working app.

[2015-08-13 18:29] miyconst commented on #11
@alemoi uploaded daily build with changes from @andwah `2.0.10285.2`, thanks him for that.

First, I was looking for some xml file configuration, because administrator has no GUI changes, but after further investigation I discovered that `font-awesome` is not included in the build, that is why the `lock` button which should be here:

![image](https://cloud.githubusercontent.com/assets/6435556/9258

[2015-08-14 06:03] miyconst commented on #11
The *Uninstall* button is visible for locked, but not started apps.

[2015-08-14 08:13] warpech commented on #11
@andwah to fix the Font Awesome issue and trigger the build

[2015-08-14 08:43] andwah commented on #11
Sorry, i forgot to mark the included files in the visual studio to "copy to output directory".

A new version has been generated.

[2015-08-14 09:01] warpech commented on #9
The solution for this issue works for current browser tab. To achieve a better overall solution, let's proceed in a follow up issue: https://github.com/Starcounter/Starcounter/issues/2846

[2015-08-14 09:01] #9 closed

[2015-08-14 09:11] miyconst commented on #11
Tested. Works fine.

[2015-08-14 09:11] #11 closed

[2015-08-14 13:23] warpech opened #20 ""Open" button is hardcoded to localhost:8080"
"Open" button should switch to the app in the current host, but it tries to open it on localhost:8080:

<img width="1028" alt="screenshot 2015-08-14 15 19 05" src="https://cloud.githubusercontent.com/assets/566463/9274727/5c35c690-4298-11e5-847c-bb89a6b138d6.png">

[2015-08-14 14:51] miyconst commented on #20
This was an easy task. I just removed `http://localhost:8080` from the Open button url. Now it is `/{{AppName}}`.

Should I update all of the Playgrounds with this single fix?

[2015-08-17 08:50] miyconst commented on #20
Released and updated all Playgrounds.

[2015-08-17 08:50] #20 closed

[2015-09-30 06:37] miyconst opened #21 "Add banners for Welcome & UsageTracker apps"

[2015-10-05 10:49] miyconst opened #22 "Show only latest version of app"

[2015-10-05 11:03] #22 closed

[2015-10-05 11:03] #21 closed

[2015-11-09 14:41] miyconst commented on #7
@per-samuelsson, could you provide any input on this?

[2015-11-09 15:03] per-samuelsson commented on #7
Yes, its kind of by design, but a design that is not optimal. Its a bit tricky to get this whole debugging experience 100% crisp, given the model we have to run apps in a shared process.

I can test it at some point and see if I can refine it more, but right now I'm pretty choked with other stuff I have to do. Can we make it like "semi-prio"? :smile:

[2015-11-09 15:05] miyconst commented on #7
Yes, sure, I was about to close the issue, as it is not that important.

[2015-11-16 06:53] miyconst opened #23 "Add promotion carousel on top of the main page"
Umbrella issue: https://github.com/Starcounter/RebelsLounge/issues/8

[2015-11-16 06:54] miyconst opened #24 "Re-design application cover tile"
Umbrella issue: https://github.com/Starcounter/RebelsLounge/issues/8

Requires images and sizes from @Starcounter-Jack.

[2015-11-16 07:51] andwah commented on #24
The large appicon will be 1024 x 1024 pixels  and the small 57 x 57 pixels.
see ***App Icon (required for iOS apps)***
Screenshots will be 16:10 aspect ratio
see ***Mac (OS X) Screenshots*** at link below

https://developer.apple.com/library/ios/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Appendices/Properties.html#//apple_ref/doc/uid/TP40011225-CH26-SW13

[2015-11-16 12:39] miyconst opened #25 "Add cover images for apps"
Those apps require cover images:

- [x] Peekaboo
- [x] Tunity Actions
- [x] Tunity CRM
- [x] Tunity Organizer
- [x] Tunity Terminal

[2015-11-16 13:56] miyconst commented on #25
Added basic banners. Should be improved by Tunity.

[2015-11-16 13:56] #25 closed

[2015-11-16 14:15] #23 closed

[2015-11-17 13:31] miyconst opened #26 "Move logic from client side to server side"
Right now AppStoreClient hides invisible stores and sorts applications on client side.

This is a very big issue for Polymer binding, as the bound objects are not the model objects.
In the result, when an error occurs, `dom-bind-notifier` notifies about the change, but it is not reflected to view.

I tried to find a workaround, but failed. Polymer just refuses to update view.

So, we have to move

[2015-11-17 13:36] andwah commented on #26
I agree we should enhance the api with these features.

[2015-11-17 13:37] andwah commented on #26
And also make the appstore retrive the app's from the appstore server directly, not as we do today via the Administrator.

[2015-11-17 13:38] miyconst commented on #26
Agree, but it should be another issue.

[2015-11-19 09:01] miyconst commented on #24
Closing the issue. The new design was accepted.

[2015-11-19 09:01] #24 closed

[2015-11-24 09:11] andwah opened #27 "Strange look on content"
Using latest 3.1.3

![image](https://cloud.githubusercontent.com/assets/2656996/11362344/3d00a830-9293-11e5-91cf-3f4dd029433e.png)

[2015-11-24 09:21] andwah commented on #27
In the brower console window:

![image](https://cloud.githubusercontent.com/assets/2656996/11362603/18634788-9295-11e5-85b2-2faee239a0b2.png)

[2015-11-24 09:27] warpech commented on #27
First I need to build it, because the current version of App Store Client is not in the app store :( (last published version is 3.0.2)

[2015-11-24 09:28] warpech commented on #27
Actually seems that last 5 versions were not published in the app store! Seems we have some release loophole

[2015-11-24 09:39] warpech commented on #27
For me it also doesn't work but with different result:

![screen shot 2015-11-24 at 10 38 17](https://cloud.githubusercontent.com/assets/566463/11363038/9a5ec260-9297-11e5-9296-b273fd117246.png)

[2015-11-24 09:45] warpech commented on #27
Seems that I had a timeout on a call to port 8182... It is blocked by Windows Firewall by default.

Now I managed to reproduce the problem.

[2015-11-24 09:49] warpech commented on #27
Regarding Windows Firewall... Seems that whoever sets the "Allow scnetworkgateway*" needs to set up another rule for port 8182. @andwah should this be another issue?

![image](https://cloud.githubusercontent.com/assets/566463/11363260/056a6536-9299-11e5-8252-d8cdb3867152.png)

[2015-11-24 10:00] andwah commented on #27
Port 8182 is "hardcode" so it needs to be set up from incoming requests (from the appstore client) on the starcounter server.

[2015-11-24 10:20] warpech commented on #27
Yeah but all other ports (see above screenshot) are added automatically by Starcounter to Windows Firewall. I didn't add them manually. So why should I add 8182 manually?

[2015-11-24 10:23] warpech commented on #27
The problem in topic was caused by `owl.carousel/.gitignore` ignoring the files in the dist folder. I fixed it by changing the `.gitignore` file and pushing files from the 3.1.3 zip package.

See commit https://github.com/StarcounterSamples/AppStoreClient/commit/2f3b7bf47117fc18d425ffef6286149e51e5142f for details.

I released the fix as 3.1.4.

Thanks @andwah for investigation!

[2015-11-24 10:23] #27 closed

[2015-11-24 11:01] andwah opened #28 "Add port 8182 to Starcounter firewall rules"

[2015-11-24 11:02] andwah commented on #27
I agree that the port 8182 should also be managed in the same way the other ports do, Automatically.

I created a separate issue for it. #28

[2015-11-24 11:07] warpech commented on #27
Nice! Thanks!

[2015-11-28 18:32] warpech opened #29 "OwnCarousel is not styled propertly if Shadow DOM is disabled"
I needed to add this to my Website header (between lines loading webcomponents.js and polymer.html):

[code]

Otherwise the following style is ignored:

[code]

@miyconst ideas for a better fix?

[2015-11-28 18:35] warpech commented on #29
The issue is similar to https://github.com/Juicy/juicy-jsoneditor/issues/5 so maybe the fix should be similar as well

[2015-11-28 19:29] warpech opened #30 "jQuery overwrites previously loaded jQuery"

[2015-11-28 19:30] warpech commented on #30
Seems that `noConflict` needs to be loaded immediately after `<script>` that loads jQuery. Also using `true` parameter turned out to be needed.

[2015-11-28 19:30] #30 closed

[2015-11-30 05:11] miyconst commented on #29
Hm.. looks like the style should be injected to head if shadow dom is not enabled. No better solution, really.

I don't know any option to disable Polymer's style ~~shitting~~ scoping.

[2015-12-03 15:09] warpech opened #31 "Switching to app details sometimes shows 406 error"
In `next` branch

[2015-12-03 15:32] warpech commented on #31
Funny! So this is in case when we are putting an image with an empty url. You can see in the request header `Accept: image/webp,image/*,*/*;q=0.8`:

<img width="1426" alt="screen shot 2015-12-03 at 16 26 37" src="https://cloud.githubusercontent.com/assets/566463/11564674/ae6dd95e-99da-11e5-8a58-7097d7f4de29.png">

This is the code that causes the request:

[code]

[code]

The problem is when `this

[2015-12-03 15:34] warpech commented on #31
The problem is that for the server this triggers a new request without a session ID, which then replaces the previous session on the client. Really simple mistake that has really fatal consequence for the app!

[2015-12-03 15:38] warpech commented on #31
For one, I think that a 406 Not Acceptable response should not send the new Session ID to the client.

[2015-12-03 15:39] warpech commented on #31
@chrhol do you have time to show me in what cases a 406 response is returned to the client?

[2015-12-03 16:46] warpech commented on #31
Reproducible in https://github.com/StarcounterSamples/AppStoreClient/commit/29342b26543b5ce044ca2c7fa38fb319d3a99c30. Fixed in https://github.com/StarcounterSamples/AppStoreClient/commit/3dfd6b29c74a84431358f8904c1cbf98b9b31e21.

A fix in Starcounter is also required (https://github.com/Starcounter/Starcounter/issues/3141), so that a case like this will not become a fatal error for the apps.

[2015-12-03 16:47] #31 closed

[2015-12-07 14:31] miyconst commented on #26
@warpech any progress on this?

[2015-12-08 10:34] warpech commented on #26
As @andwah reported yesterday, there is a refactoring underway (on branch `next`). Can be seen here: https://github.com/StarcounterSamples/AppStoreClient/tree/next/src/AppStoreClient/wwwroot/AppStoreClient/viewmodels

@andwah can explain it in more details.

[2015-12-08 12:02] andwah commented on #26
***Phase 1***
Change so the client is in direct contact with the Appstore server (still filtering logic,sorting on client).
At the moment this is almost done.

There is a big issues when apps is starting/stopping then the appstore client gui is not responding, due to the appstore client was restarted and the current session is closed by the server.

I have not solution for this, anyone?

***Phase

[2015-12-08 12:06] warpech commented on #18
Some of the apps now use SVG icons:

https://github.com/StarcounterSamples/KitchenSink/blob/5a0fcc7a092cecf9fd003713b3f8339afcf11315/src/KitchenSink/wwwroot/KitchenSink/AppIcon.html

Other apps should switch progressively.

[2015-12-08 12:51] warpech commented on #26
This will be partially solved by https://github.com/Starcounter/Starcounter/issues/3084. When the server is restarted, the client will attempt reconnecting. After failed reconnection (session does not exist after restart), the client will display a modal asking to reload the page.

Then we have 2 choices:

1. add a JavaScript to AppStoreClient, who will listen to Puppet session error and reload th

[2016-01-12 08:05] warpech opened #32 "Update the usage of puppet-redirect"
Switch to be using the new path `/sys/puppet-redirect/puppet-redirect.html`.

Please release a new version when done.

[2016-01-12 15:06] miyconst commented on #8
cc @andwah

[2016-01-12 23:57] tomalec opened #33 "Add grunt package task"

[2016-01-13 00:05] #32 closed

[2016-01-13 00:06] #33 closed

[2016-01-13 14:43] andwah commented on #8
The both browser clients are connected to the same data model (by design)
This will not be the case in the new version in the "next" branch.Each client has it own session/datamodel.

[2016-01-20 16:24] MLidstrom opened #34 "owl.carousel.js: Cannot read property 'fn' of undefined"
After a fresh installation AppStoreClient is showing a blank page in launcher and the Chrome console logs this:

Uncaught TypeError: Cannot read property 'fn' of undefined
  (anonymous function) @ owl.carousel.js:1617
  (anonymous function) @ owl.carousel.js:1654

[2016-04-11 15:48] warpech commented on #7
I just want to confirm that I find it annoying as well :)

But I understand that it is not a priority and may be gone when we switch to run apps in separate processes?

[2016-04-11 16:13] dan31 commented on #7
I think, first of all, for current 2.x generation, it is good if it is explained, in which circumstance all apps are to be stopped by Starcounter and why. From @miyconst post in the header it appears that it doesn't always stop all the apps when one stopped, but only time to time. Hence, good to know would be, when this happens and when is it not? @per-samuelsson, is there some simple answer?

@wa

[2016-04-11 16:19] per-samuelsson commented on #7
I totally agree. But the problem here is that the design itself is bad IMO, I've thought so from the first day I actually did it (it's my own), but I just can't find any other way to do it, considering how VS work, attaching debugger work and how that relate to our single-host, multi-app design.

I hinted about already in my earlier comments.

I really don't have any big hopes (because I've been t

[2016-04-11 16:21] per-samuelsson commented on #7
Not the entire truth I'm afraid, since we've said that we still need to support multi-app hosting processes, and then our options are basically the same as today.

However, maybe we can design it a little bit differently, and kind of say that on development environments, processes are always 1-host-per-app, and that multi-app hosts are only for production (to save resources). Then we could improve

[2016-04-11 16:24] miyconst commented on #7
Just a short note to remove the confusion.

The behavior is not random, it is static: Stopping an app stops all of the other apps started from same Visual Studio instance.

If two apps started from two different Visual Studio instances, then stopping one does not affect another once.

I have changed the title.

[2016-04-12 05:40] dan31 commented on #7
@miyconst that is good explanation! Thanks for clarification, I think that makes the behavior explained as predictable.
@per-samuelsson To be honest, you have a complex design task solved, thus I won't say it is a bad design, since it is constrained by many factors we don't influence. It is perfectly fine to change architectures in future generations. And I see your current hopes, maybe you'd real

[2016-04-12 06:26] per-samuelsson commented on #7
Yes, it's static because it's by design.

That's nice of you, @dan31. :beers: I'd still like us to review this thingy, and my aim is to do that during this week. Let's see if I can come up with something. And/or then document it somehow.

[2016-04-12 06:58] per-samuelsson commented on #7
While I'm at it, let me try to give a short insight in why the underlying design is like it is.

Picture a solution, "MyApps.sln", with 3 Starcounter application projects. You configure that when F5 is hit, VS should "Start project" for all 3 apps.

On the other end, we support **stopping** of applications by the only possible way:

1. We stop the host (i.e. unload all applications that run in it)

[2016-04-14 12:25] warpech opened #35 "Apply BEM to AppStoreClient's private CSS"
This app contains globally applied CSS rules in stylesheets:

- https://github.com/StarcounterSamples/AppStoreClient/blob/62067506bf043c451041bb891e71d2adefbda06b/src/AppStoreClient/wwwroot/AppStoreClient/css/master.css

It also contains inline CSS in HTML templates:

- https://github.com/StarcounterSamples/AppStoreClient/blob/62067506bf043c451041bb891e71d2adefbda06b/src/AppStoreClient/wwwroot/App

[2016-04-21 15:46] warpech opened #36 "Replace AppStoreClient's default layouts in SQL import with `juicy-style` layout hints"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/10

------

Currently, AppStoreClient contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/AppStoreClient/blob/master/src/AppStoreClient/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent information in form of `ju

[2016-08-17 16:23] warpech commented on #36
This issue is obsolete. We are migrating from `juicy-style` to `juicy-composition`. A new task will be created.

[2016-08-18 13:12] #34 closed

[2016-08-18 13:12] warpech commented on #34
Fixed, thanks for reporting

[2016-08-18 13:13] warpech opened #37 "AppStoreClient shows an empty screen"
When I start the application, I see a blank screen:

![2016-08-18 15_13_03-launcher](https://cloud.githubusercontent.com/assets/566463/17774928/4b7a5c26-6556-11e6-9853-2f5d0184055f.png)

[2016-08-18 13:26] warpech opened #38 "Replace AppStoreClient's default layouts in SQL import with `template is="starcounter-composition"`"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/18

------

Currently, AppStoreClient contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/AppStoreClient/blob/master/src/AppStoreClient/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent layout in form of `templat

[2016-08-18 13:26] warpech commented on #36
A new issue was created: https://github.com/StarcounterPrefabs/AppStoreClient/issues/38

[2016-08-18 13:27] #36 closed

[2016-09-16 08:43] warpech opened #39 "Replace the usage of the Page class with middleware"
Please replace the usage of the Page class with middleware, since the Page class is obsolete (see Starcounter/Starcounter#3202). The instructions are in the blog post: http://starcounter.io/replace-page-partial-classes-middleware/

[2016-11-14 11:52] tomalec commented on #38
Just to note `template is="starcounter-composition"` is available in Starcounter stable as well.

[2016-11-14 15:47] warpech commented on #38
Thanks, I will edit the OP to remove the redundant information about branching.

[2017-02-23 12:22] Mackiovello opened #40 "Adapt view to Declarative Shadow DOM"
According to https://github.com/Starcounter/RebelsLounge/issues/59

Follow the guidelines in the following three posts to adapt the views to use Declarative Shadow DOM:

* [Layout compositions for HTML partials](https://starcounter.io/layout-compositions-html-partials/)
* [How to Apply New Shadow DOM Layouts to Existing HTML Templates](https://starcounter.io/making-apps-blendable/)
* [HTML View Gu

[2017-05-05 12:58] Mackiovello opened #41 "Keep or delete this app?"
For https://github.com/Starcounter/CompanyTrack/issues/331

**Delete?** If this is what it seems to be, an app to help users find and download apps, it's outdated and will soon be replaced. I'm not sure if it's used at all.

[2017-05-09 16:47] warpech commented on #41
This is a question to @andwah. I assume this app does not work anymore, since the old warehouse was removed from Administrator?

[2017-05-09 16:56] andwah commented on #41
Current pushed version does not work.

I was thinking like this:  "Merge" WarehouseClient with "AppStoreClient" and rename this repo "AppStore", and then delete "WarehouseClient" repo.

I suggest that we keep this app repo (maybe make it private?).

[2017-05-10 06:20] Mackiovello commented on #41
Maybe it would be possible to move to the freezer?

[2017-05-10 08:12] andwah commented on #41
Sound okey for me.

[2017-05-11 11:46] warpech commented on #41
Next steps:

- [ ] Make a PR that explains the purpose of this app for future reference.
- [x] Move this app to https://github.com/StarcounterAppsFreezer. Apps in that organisation do not get updates until we remove them from freezer.

@andwah could you please do the PR that explains the purpose of this app for future reference? All apps in the freezer should have that.

[2017-05-11 12:22] andwah commented on #41
@warpech Just created a PR.

[2017-05-17 14:03] warpech commented on #41
All done now, app moved to StarcounterAppsFreezer

[2017-05-17 15:13] warpech commented on #41
Wouldn't it be simpler to just remove this repo `AppStoreClient` and rename what now is `WarehouseClient` to `AppStore`? Then no merges needed.

[2017-05-17 20:45] andwah commented on #41
Yes. much simpler :-)

[2017-05-18 07:05] warpech commented on #41
Great! I will archive this app on Dropbox and delete it from GH

[2017-06-12 08:44] Mackiovello commented on #41
Closing as it is moved to the freezer

[2017-06-12 08:44] #41 closed

[2017-07-22 07:38] prakash2jcommerce commented on #34
define([
    "jquery",
], function ($) {
	!function(a,b,c,d).....................(window.Zepto||window.jQuery,window,document)
});

this will fix to use this code on Magento2

[2017-07-22 07:47] prakash2jcommerce commented on #34
define([
    "jquery",
], function ($) {
	!function(a,b,c,d).....................(window.Zepto||window.jQuery,window,document)
});

this will fix to use this code on Magento2